@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cute Font", cursive;
}
.content {
  background-image: url(../img/pexels-tirachard-kumtanom-733853.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.app {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)),
    rgba(172, 120, 76, 0.39);
  min-height: 100vh;
}
.side-flag {
  height: 130px;
  max-width: 900px;
  background-color: #39a6a3;
  border: 7px solid #ffffff;
  border-top: none;
  color: #fff;
}
.pry-header {
  font-family: "Black And White Picture", sans-serif;
  font-size: 72px;
  font-size: clamp(36px, 4vw + 1rem, 72px);
  line-height: 1;
}
.icon-ftsz {
  font-size: clamp(24px, 3vw + 1rem, 56px);
}
.back-home:hover {
  color: #bf1363 !important;
}
.spin-it {
  animation: spinner 10s infinite linear;
  font-size: 56px;
  font-size: clamp(24px, 3vw + 1rem, 56px);
}
.refresh-display {
  cursor: pointer;
}
.refresh-display:hover {
  animation: rocker 2s linear infinite alternate;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rocker {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(30deg);
  }
}
.display-space {
  max-width: 500px;
}
.viewer-tile {
  background: linear-gradient(0deg, #deeeea, #deeeea);
  border: 1px solid #39a6a3;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  transform: rotate(-5deg);
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: auto;
}
.viewer-tile:hover {
  transform: rotate(-1deg);
}
.viewer-tile h2 {
  line-height: 1;
  font-size: 24px;
}
.viewer-tile .album-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
